<!DOCTYPE html>
<html lang="en">
    <body>
        
        <p>&nbsp;</p>
        <table style="border-collapse: collapse; width: 90.7727%; height: 94px;" border="1"><colgroup><col style="width: 66.5378%;"><col style="width: 33.4634%;"></colgroup>
            <tbody>
                <tr style="height: 94px;">
                    <td style="height: 94px; text-align: center;">
                        <p><span style="font-size: 18pt;"><strong>DOE COMPANY</strong></span></p>
                        <p><strong>Depaertment of Energy Unit</strong></p>
                    </td>
                    <td style="height: 94px; text-align: center;">
                        <p><span style="font-size: 18pt;"><strong>INVOICE</strong></span></p>
                        <p>Date: 03.20.2022</p>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center; padding: 2rem 3rem;" colspan="2">
                        <table style="border-collapse: collapse; width: 52.6543%; height: 220.344px;" border="1"><colgroup><col style="width: 49.9489%;"><col style="width: 49.9489%;"></colgroup>
                            <tbody>
                                <tr style="height: 66.3438px;">
                                    <td style="height: 66.3438px;">
                                        <h5><span style="font-size: 14pt;"><strong>INVOICE TO</strong></span></h5>
                                    </td>
                                    <td style="height: 66.3438px;">
                                        <p><strong><span style="font-size: 14pt;">SHIP TO</span></strong></p>
                                    </td>
                                </tr>
                                <tr style="height: 154px;">
                                    <td style="height: 154px;">
                                        <p style="text-align: left;">&nbsp; &nbsp; &nbsp; &nbsp;JHON DOE</p>
                                        <p style="text-align: left;">&nbsp; &nbsp; &nbsp; 1550 Sky Blue Road<br>&nbsp; &nbsp; &nbsp; San Fransisco<br>&nbsp; &nbsp; &nbsp; California</p>
                                        <p style="text-align: left;">&nbsp; &nbsp; &nbsp; (123) 123-456-789</p>
                                    </td>
                                    <td style="height: 154px; text-align: left;">
                                        <p style="text-align: left;">&nbsp; &nbsp; &nbsp; &nbsp;OFFICE ADDRESS</p>
                                        <p style="text-align: left;">&nbsp; &nbsp; &nbsp; 1550 Sky Brown Road<br>&nbsp; &nbsp; &nbsp; San Fransisco<br>&nbsp; &nbsp; &nbsp; California</p>
                                        <p style="text-align: left;">&nbsp; &nbsp; &nbsp; (123) 123-456-789</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>&nbsp;</p>
                        <p style="text-align: left;"><strong>&nbsp;PROJECT: DESIGN QUTATION</strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>INVOICE NO: F567BA</strong></p>
                        <table style="border-collapse: collapse; width: 100.143%; height: 282px;" border="1"><colgroup><col style="width: 13.1227%;"><col style="width: 33.8853%;"><col style="width: 17.1673%;"><col style="width: 18.3358%;"><col style="width: 17.437%;"></colgroup>
                            <tbody>
                                <tr style="height: 37px;">
                                    <td style="height: 37px;"><span style="font-size: 12pt;"><strong>No.</strong></span></td>
                                    <td style="height: 37px;"><span style="font-size: 12pt;"><strong>Item Description</strong></span></td>
                                    <td style="height: 37px;"><span style="font-size: 12pt;"><strong>Price</strong></span></td>
                                    <td style="height: 37px;"><span style="font-size: 12pt;"><strong>Qty.</strong></span></td>
                                    <td style="height: 37px;"><span style="font-size: 12pt;"><strong>Total</strong></span></td>
                                </tr>
                                <tr style="height: 36px;">
                                    <td style="height: 36px;">1</td>
                                    <td style="height: 36px; text-align: left;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Lorem ipsum item description<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;sample dolor sit amet</td>
                                    <td style="height: 36px;">$ 150.00</td>
                                    <td style="height: 36px;">1</td>
                                    <td style="height: 36px;">$ 150.00</td>
                                </tr>
                                <tr style="height: 36px;">
                                    <td style="height: 36px;">2</td>
                                    <td style="height: 36px; text-align: left;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Sample item product<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;description</td>
                                    <td style="height: 36px;">$ 350.00</td>
                                    <td style="height: 36px;">3</td>
                                    <td style="height: 36px;">$ 1,050.00</td>
                                </tr>
                                <tr style="height: 36px;">
                                    <td style="height: 36px;">3</td>
                                    <td style="height: 36px; text-align: left;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;another lorem ipsum<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;sample dolor sit product</td>
                                    <td style="height: 36px;">$ 430.00</td>
                                    <td style="height: 36px;">2</td>
                                    <td style="height: 36px;">$ 860.00</td>
                                </tr>
                                <tr style="height: 36px;">
                                    <td style="height: 36px;">4</td>
                                    <td style="height: 36px; text-align: left;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;product lorem ipsum<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;sample dolor sit product</td>
                                    <td style="height: 36px;">$ 50.00</td>
                                    <td style="height: 36px;">1</td>
                                    <td style="height: 36px;">$ 50.00</td>
                                </tr>
                                <tr style="height: 35px;">
                                    <td style="height: 101px; text-align: left;" colspan="3" rowspan="3">
                                        <p>&nbsp; <span style="font-size: 14pt;"><strong>&nbsp;<span style="font-size: 12pt;"> &nbsp;TOTAL DUE</span></strong></span></p>
                                        <p><span style="font-size: 14pt;"><strong>&nbsp; &nbsp; &nbsp;<span style="font-size: 24pt;">$ 2.110,00</span></strong></span></p>
                                    </td>
                                    <td style="height: 35px; text-align: right;"><span style="font-size: 12pt;"><strong>SUBTOTAL :&nbsp;&nbsp;</strong></span></td>
                                    <td style="height: 35px; text-align: center;"><strong>$ 2,110.00</strong></td>
                                </tr>
                                <tr style="height: 35px;">
                                    <td style="height: 35px; text-align: right;"><span style="font-size: 12pt;"><strong>TAX :&nbsp;&nbsp;</strong></span></td>
                                    <td style="height: 35px; text-align: center;"><strong>0</strong></td>
                                </tr>
                                <tr style="height: 31px;">
                                    <td style="height: 31px; text-align: right;"><span style="font-size: 12pt;"><strong>GRAND TOTAL :&nbsp;&nbsp;</strong></span></td>
                                    <td style="height: 31px; text-align: center;"><span style="font-size: 12pt;"><strong>$ 2,110.00</strong></span></td>
                                </tr>
                            </tbody>
                        </table>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <table style="border-collapse: collapse; width: 100.09%; height: 133px;" border="1"><colgroup><col style="width: 33.3633%;"><col style="width: 33.3633%;"><col style="width: 33.3633%;"></colgroup>
                            <tbody>
                                <tr style="height: 42px;">
                                    <td style="height: 42px;"><span style="font-size: 14pt;"><strong>Payment Info</strong></span></td>
                                    <td style="height: 42px;"><span style="font-size: 14pt;"><strong>Trems &amp; Conditions</strong></span></td>
                                    <td style="height: 42px;"><span style="font-size: 14pt;"><strong>ACCOUNT MANAGER</strong></span></td>
                                </tr>
                                <tr style="height: 91px;">
                                    <td style="height: 91px; text-align: justify;">&nbsp; &nbsp; &nbsp; <strong>&nbsp; &nbsp;Account:</strong>&nbsp; Jhone Doe<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>A/C Name:</strong>&nbsp; Jhon<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>Bank Details:</strong>&nbsp; Bank Jhone</td>
                                    <td style="height: 91px; text-align: justify;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Lorem ipsum dolor sit amiet<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; consectetur adipisicing elit<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; sed diam nonummy</td>
                                    <td style="height: 91px;">
                                        <p><span style="font-family: 'times new roman', times, serif; font-size: 24pt;">Jhon Doe</span></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>&nbsp;</p>
                        <p style="text-align: left;">Questions?</p>
                        <p style="text-align: left;">Email us at info@younitbase.com<br>or call us at 1-234-567-890</p>
                        <p style="text-align: left;">&nbsp;</p>
                        <table style="border-collapse: collapse; width: 100.09%; height: 32px;"><colgroup><col style="width: 66.5468%;"><col style="width: 12.5906%;"><col style="width: 10.7907%;"><col style="width: 10.0719%;"></colgroup>
                            <tbody>
                                <tr style="height: 32px;">
                                    <td style="text-align: left; height: 32px;">4102 Generio Avencut, New York, NY 10016 * younitbase.com</td>
                                    <td style="height: 32px; text-align: left;">&nbsp; 1234-5678</td>
                                    <td style="height: 32px; text-align: left;">&nbsp;facebook</td>
                                    <td style="height: 32px; text-align: left;">&nbsp; twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>

    </body>
</html>